@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primario: #3C091D;
    --color-secundario: #E8BAD3;
    --color-terciario: #631433;
    --color-cuaternario: #F3E8EE;
  
    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif; 
  
  }
* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
.header {
    padding: 2% 0% 0% 15%;
}
.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    color: var(--color-terciario);
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}
.header__menu__link:hover{
    color: #74aebb;
}
.presentacion{
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    gap : 82px;
}
.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}
.presentacion__contenido__texto{
    font-family: var(--fuente-montserrat);
    font-size: 1rem; 
}
.presentacion__contenido__subtitulos{
    color: var(--color-cuaternario);
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
}
.presentacion__contenido__entidades{
    color: var(--color-cuaternario);
}
.presentacion__enlaces{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 15px;
}
.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces__link{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 50%;
    text-align: center;
    font-size: 1.5rem; 
    font-weight: 600;
    font-family: var(--fuente-montserrat);
    text-decoration: none;
    padding: 21.5px 0;  
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    border-radius: 8px;
}


.presentacion__enlaces__link:hover{
    background-color: #272727;
}
.presentacion_imagen{
    width: 40%;
}
.footer {
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-secundario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){

    .header{
        padding: 10%;
    }
    .header__menu{
        justify-content: center;
    }
  
    .presentacion{
        flex-direction: column-reverse;
        padding: 3%;
    }
   
    .presentacion__enlaces{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .presentacion__contenido{
        width: auto;
    }

}
